<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="">CSS</a>
            <a href="">HTML</a>
            <a href="">Javascript</a>
            <a href="">Ruby</a>
        </ul>
    </nav>

    <h1 class='logo'>
        <img src="./assets/AA_Times_Logo.png" alt="">
    </h1>

    <nav class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li>
            <button><i class="fas fa-newspaper"></i>
            Today's Paper
            </button>
        </li>
        <li>
            <button><i class="fas fa-video"></i>
            Video
            </button>
        </li>
        <li>77°F</li>
        <li>AAO <strong>+100%</strong></li>
    
    </nav>
</header>
