<header class="masthead">
    <nav class="language-nav">
        <ul>
            <a href="">CSS</a>
            <a href="">HTML</a>
            <a href="">Javascript</a>
            <a href="">Ruby</a>
        </ul>
    </nav>
</header>