.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  flex-direction: column;
  font-family: serif;
  font-size: 12px;
  text-transform: uppercase;
}

.left-nav {
  
  > ul {
    > li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
